<div class="conteiner mt-3">
    <div *ngIf='loading' class="d-flex justify-content-center mt-5">
      <app-spinner></app-spinner>
    </div>
    <div *ngIf='!loading' class="row">
      <div class="card">
        <div class="card-body">
          <div class="contenedorLogin">
            <div>
              <h2 class="text-left tituloPropio">LOGIN</h2>
            </div>
            <!-- <div>
              <img src="../../../../assets/login/login3.svg" alt="Login" width="100" height="100">
            </div> -->
          </div>
          <form [formGroup]='loginForm' (ngSubmit)="loginSiguiente()">
            <div class="mb-3">
              <input type="text" formControlName="usuarioCorreo" class="from-control form-control-lg" placeholder="Correo" [value]="muestroCorreo">
              <br>
              <span class="text-danger" 
              *ngIf="loginForm.get('usuarioCorreo')?.hasError('required') && loginForm.get('usuarioCorreo')?.touched">
                El correo  <strong>es requerido</strong>
              </span>
              <span class="text-danger" *ngIf="loginForm.get('usuarioCorreo')?.hasError('email') && loginForm.get('usuarioCorreo')?.touched">
                Correo  <strong>invalido</strong>
              </span>
            </div>
            <div class="mb-3">
              <input type="password" formControlName="usuarioClave"  class="from-control form-control-lg" placeholder="Contraseña" [value]="muestroClave">
              <br>
              <span class="text-danger" 
              *ngIf="loginForm.get('usuarioClave')?.hasError('required') && loginForm.get('usuarioClave')?.touched">
              La contraseña  <strong>es requerido</strong>
              </span> 
            </div>
            <div>
              <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg">Aceptar</button>
              <button type="button" (click)=automaticoLogin() class="btn btn-primary btn-lg float-end">Login (in)</button>
            </div>
            <br>  
            <div class = "text-center" >
              <button type="button" class="btn btn-primary " (click)=adinistradorLogin() >Administrador (in)</button>
            </div>
          </form>
          <br>
          <!-- <div class="text-center">
            <a routerLink="/auth/registrar">Registrarse</a>
            <br>
          </div> -->
        </div>
      </div>
    </div> 
  </div> 