<h2>Detalle del Repartidor</h2>
<div class="col-md-12">
   <strong><span>Nombre: </span></strong>{{actorDetalle.nombre}}
   <br>
   <strong><span>DNI: </span></strong> {{actorDetalle.dni}}
   <p><strong><span>Edad: </span></strong>{{actorDetalle.edad}} </p>
   <p><strong><span>Unidad: </span></strong>{{actorDetalle.unidad}} </p>
   <p><strong><span>País : </span></strong> {{actorDetalle.pais}} </p>
   <!-- <button class="btn btn-secondary" (click)="Volver()" role="button">Volver</button> -->
</div>