<h1 class="display-3">Listado de Peliculas</h1>
<p>Se debe utilizar tanto como grilla, con la posibilidad de intercalar la vista entre ambas.</p>
<table *ngIf="vista" class="table">
  <thead>
    <tr>
      <th style="width: 34%;">Nombre</th>
      <th style="width: 22%;">Ingredientes</th>
      <th style="width: 22%;">Precio</th>
      <th style="width: 22%;">Peso</th>
      <!-- <th scope="col">Pelicula</th>
      <th scope="col">Imagen</th>
      <th scope="col">Seleccionar</th> -->
      <!-- <th scope="col">Detalle</th>
      <th scope="col">Modificar</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listadoPeliculas">
      <td>{{ item.nombre }}</td>
      <td>{{ item.ingredientes }}</td>
      <td>{{ item.precio }}</td>
      <td>{{ item.peso }}</td>
      <!-- <td>{{itempelicula.nombre}}</td>
      <td><img width="80 px" [src]="itempelicula.fotoDeLaPelicula"></td> -->
      <!--  <td><button type="button" class=" btn btn-info btn-circle btn-danger"  (click)="bajaDetallePelicula(itempelicula)"></button></td> --> <!-- Borrar -->
      <td><button type="button" class=" btn btn-info btn-circle btn-warning" (click)="mostrarDetallePelicula(itempelicula)"></button></td>  <!-- Detalle -->
      <!-- <td><button type="button" class=" btn btn-info btn-circle btn-success"></button></td>  --> <!-- Modificar -->
    </tr>
  </tbody>
</table>

<!-- <div *ngIf="!vista"  class="wrapper">

  <div (click)="mostrarDetallePelicula(itempelicula)" *ngFor="let item of listadoPeliculas">
       <img width="80 px" [src]="itempelicula.fotoDeLaPelicula">
      <span>{{itempelicula.nombre}}</span> -->
     <!--  <span>{{item.nombre}}</span>
  </div>
</div>
<br>
<p><a class="btn btn-primary btn-lg" (click)="CambiarVista()" role="button">Cambiar vista  </a></p>  -->