<app-menu-gral></app-menu-gral>
<br><br><br><br>
<div class="d-flex justify-content-center mt-3">
    <button class="btn-principal btn-quizz">LISTADO DE ACTORES</button>
</div>
<div *ngIf="loading" class="d-flex justify-content-center mt-3">
    <app-spinner></app-spinner>
</div>
<div *ngIf="listActores.length > 0 && !loading" class="container">
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>email</th>
                                <th>Dirección</th>
                                <th>Nacionalidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listActores">
                                <td>{{ item.apellido }}</td>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.direccion }}</td>
                                <td>{{ item.pais }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="listActores.length == 0 && !loading" class="conteiner">
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h5>No hay listado para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>