<div class="conteiner mt-3">
    <div *ngIf='loading' class="d-flex justify-content-center mt-5">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf='!loading' class="row">
        <!-- <div class="col-lg-10 offset-lg-3"> -->
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center" tituloPropio>REGISTRO DE ESPECILISTA</h2>
                    <form [formGroup]="registrarForm" (ngSubmit)="registar()">
                         <!--Nombre-->
                         <div class="mb-3">
                            <input type="text" formControlName="nombre" class="form-control form-control-lg" placeholder="Nombre">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('nombre')?.hasError('required') && registrarForm.get('npmbre')?.touched">
                                El Nombre <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('nombre')?.hasError('minlength') && registrarForm.get('nombre')?.touched">
                                Nombre como minimo <strong>debe tener 4 caracteres</strong>
                            </span>
                        </div>
                        <!--Apellido-->
                        <div class="mb-3">
                            <input type="text" formControlName="apellido" class="form-control form-control-lg" placeholder="Apellido">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('apellido')?.hasError('required') && registrarForm.get('apellido')?.touched">
                                El Apellido <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('apellido')?.hasError('minlength') && registrarForm.get('apellido')?.touched">
                                Apellido como minimo <strong>debe tener 4 caracteres</strong>
                            </span>
                        </div>
                        <!--Edad-->
                        <div class="mb-3">
                            <input type="number" formControlName="edad" class="form-control form-control-lg" placeholder="Edad">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('edad')?.hasError('required') && registrarForm.get('edad')?.touched">
                                La Edad <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('edad')?.hasError('minlength') && registrarForm.get('edad')?.touched">
                                Edad como minimo <strong>debe tener 22 años</strong>
                            </span>
                        </div>
                        <!--DNI-->
                        <div class="mb-3">
                            <input type="number" formControlName="dni" class="form-control form-control-lg" placeholder="DNI">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('dni')?.hasError('required') && registrarForm.get('dni')?.touched">
                                El DNI <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('dni')?.hasError('minlength') && registrarForm.get('dni')?.touched">
                                Edad como minimo <strong>6 digitos</strong>
                            </span>
                        </div>
                        <!--Especialidad-->
                        <div class="mb-3">
                            <input type="text" formControlName="especialidad" class="form-control form-control-lg" placeholder="Especialidad">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('especialidad')?.hasError('required') && registrarForm.get('especialidad')?.touched">
                                El DNI <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('especialidad')?.hasError('minlength') && registrarForm.get('especialidad')?.touched">
                                Edad como minimo <strong>6 digitos</strong>
                            </span>
                        </div>
                        <!--Usuario/Correo-->
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Correo">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('usuario')?.hasError('required') && registrarForm.get('usuario')?.touched">
                                El Correo <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('usuario')?.hasError('email') && registrarForm.get('usuario')?.touched">
                                Correo <strong>invalido</strong>
                            </span>
                        </div>
                        <!--Password-->
                        <div class="mb-3">
                            <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Contraseña">
                            <span class="text-danger"
                            *ngIf="registrarForm.get('password')?.hasError('required') && registrarForm.get('password')?.touched">
                                La contraseña <strong>es requerida</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registrarForm.get('password')?.hasError('minlength') && registrarForm.get('password')?.touched">
                                La contraseña como minimo <strong>debe tener 6 caracteres</strong>
                            </span>
                        </div>
                        <!--Repetir/Password-->
                        <div class="mb-3">
                            <input type="password" formControlName="repetirPassword" class="form-control form-control-lg" placeholder="Repetir Contraseña">
                            <span class="text-danger" *ngIf="registrarForm.hasError('notSame')" >
                                Contraseña <strong>distintas</strong>
                            </span>
                        </div>
                        <button routerLink="/auth/login" class="btn btn-secondary btn-lg">Volver</button>
                        <button type="submit" [disabled]="registrarForm.invalid" class="btn btn-primary btn-lg float-right">Aceptar</button>
                    </form>
                </div>
            </div>  
        <!--</div>-->
    </div>
</div>
