<app-menu-inicio></app-menu-inicio>
<div class="container">
    <div class="card">
      <figure>
        <img class="img-thumbnail" src="./../../../assets/registrar/pacienteReg1.jpg" alt="Avatar">
      </figure>
      <div class="contenido">
        <p class="title"><strong> PACIENTE</strong></p>
        <div class="card-body">
          Para poder ingresare a la Clínica OnLine y solicitar turno debe registarse. Complete todos los dato que se le solicite.
        </div>
        <br>
        <p> <button class="btn btn-default btn-primary" (click)="paciente()">Registrar</button></p>
      </div>
    </div>

    <div class="card">
      <figure>
        <img class="img-thumbnail" src="./../../../assets/registrar/especialista1.jpg" width="50" alt="Avatar">
      </figure>
      <div class="contenido">
        <p class="title"><strong>ESPECILISTA</strong></p>
        <div class="card-body">
          Para poder ingresare a la Clínica OnLine y ser parte del staf de la clínica debe registarse. Luego un Administrador validar su usuario, para que pueda interactuar con el sistema.
        </div>
        <p> <button class="btn btn-default btn-primary" (click)="especialista()">Registrar</button></p>
      </div>
    </div>
</div>

